<%= form_for(@selfy) do |f| %>
  <% if @selfy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selfy.errors.count, "error") %> prohibited this selfy from being saved:</h2>

      <ul>
      <% @selfy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :json_analysis %><br>
    <%= f.text_area :json_analysis %>
  </div>
  <div class="field">
    <%= f.label :votes %><br>
    <%= f.number_field :votes %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
