<!DOCTYPE html>
<html>
<head>
	<title>KnowThySelfie</title>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<%= csrf_meta_tags %>

</head>
<body>
	<div class="container">
		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>

		<%= yield %>
	</div>

	<!-- START: Right-hand slideout -->
	<div class="panel">
		<div id="slide-div-d3"></div>
		<div id="colright-d3"></div>
	</div>
	<a class="rhs_slide_trigger" href="#">DNA</a>
	<!-- START: Right-hand slideout -->

	<%= javascript_include_tag "/javascript/underscore.js" %>
	<%= javascript_include_tag "/javascript/backbone.js" %>
	<%= javascript_include_tag "/javascript/app.js" %>

	<script type="text/javascript">
		$(document).ready(function(){
		    $(".rhs_slide_trigger").click(function(){
		        $(".panel").toggle("fast");
		        $(this).toggleClass("active");
		        return false;
		    });
		});
	</script>

</body>
</html>
