<!DOCTYPE html>
<html>
<head>
  <title>KnowThySelfie</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	


  <%= csrf_meta_tags %>

</head>
<body>
	<div class="container">
	     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>
</div>

	<%= javascript_include_tag "/javascript/underscore.js" %>
	<%= javascript_include_tag "/javascript/backbone.js" %>
	<%= javascript_include_tag "/javascript/app.js" %>
</body>
</html>
