<!DOCTYPE html>
<html>
<head>
	<title>KnowThySelfie</title>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<%= csrf_meta_tags %>

</head>
<body>
	<div class="container">
		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>

		<%= yield %>
	</div>

	<!-- START: Right-hand slideout -->
	<div class="panel">

		<h3>Sliding Panel</h3>

		<p>Here's our sliding panel/drawer made using jQuery with the toggle function and some CSS3 for the rounded corners</p>

		<p>This panel could also be placed on the right. This could be particularly useful if, <a href="http://spyrestudios.com" title="SpyreStudios">like me</a>, you have a left-aligned website layout.</p>

		<h3>A Little Something About Me</h3>

		<img class="right" src="images/jon_image.jpg" alt="Jon Phillips" />

		<p>My name's Jon, I'm a freelance designer, blogger, musician. I run SpyreStudios and I specialize in WordPress blogs, CSS, XHTML and PHP</p>

		<div style="clear:both;"></div>
		<div class="columns">
			<div class="colleft">
				<h3>Navigation</h3>
				<ul>
					<li><a href="http://spyrestudios.com/" title="home">Home</a></li>
					<li><a href="http://spyrestudios.com/about/" title="about">About</a></li>
					<li><a href="http://spyrestudios.com/portfolio/" title="portfolio">Portfolio</a></li>
					<li><a href="http://spyrestudios.com/contact/" title="contact">Contact</a></li>
					<li><a href="http://spyrestudios.com" title="blog">Blog</a></li>
				</ul>
			</div>

			<div class="colright">
				<h3>Social Stuff</h3>
				<ul>
					<li><a href="http://twitter.com/jophillips" title="Twitter">Twitter</a></li>
					<li><a href="http://designbump.com/user/147" title="DesignBump">DesignBump</a></li>
					<li><a href="http://digg.com/users/jophillips" title="Digg">Digg</a></li>
					<li><a href="http://delicious.com/jon.phillips" title="Del.Icio.Us">Del.Icio.Us</a></li>
					<li><a href="http://designmoo.com/users/jonphillips" title="DesignMoo">DesignMoo</a></li>
				</ul>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<a class="rhs_slide_trigger" href="#">infos</a>
	<!-- START: Right-hand slideout -->

	<%= javascript_include_tag "/javascript/underscore.js" %>
	<%= javascript_include_tag "/javascript/backbone.js" %>
	<%= javascript_include_tag "/javascript/app.js" %>

	<script type="text/javascript">
		$(document).ready(function(){
		    $(".rhs_slide_trigger").click(function(){
		        $(".panel").toggle("fast");
		        $(this).toggleClass("active");
		        return false;
		    });
		});
	</script>

</body>
</html>
